<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/menu::menu(activeLink=${'orders'})}"></div>
<div class="container mt-5">
    <h1 th:text="#{orders}"></h1>
    <form th:action="@{/orders/find}" th:method="get">
        <input type="text" name="searchOrder" width="100%" placeholder="Please enter your order number" >
        <button type="submit">Find</button>
    </form>
    <div th:if="${order}">
        <h2 th:text="#{exist_order}"></h2>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>